* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Alegreya';
}

a {
    text-decoration: none;
    display: inline-block;
    color: white;
}

ul {
    list-style-type: none;
}

:root {
    --primary-color: #C8191C;
}

html {
    font-size: 62.5%;
}

.main-title {
    font-size: 2.4rem;
    color: var(--primary-color);
    font-weight: bold;
    margin-bottom: 1.8rem;
    text-transform: uppercase;
}

.sub-title {
    font-size: 8.4rem;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.paragraph {

    font-size: 1.8rem;
    color: white;
    text-align: justify;
}

.my-btn {
    /* margin-top: 5.5rem; */
    font-size: 2rem;
    padding: 1.5rem 9.3rem;
    width: 30rem;
    height: 6.3rem;
    background-color: var(--primary-color);
    border: none;
    /* text-align: center; */
}

/* ********************Header******************** */

header .nav-item a {
    color: white !important;
    font-weight: bold;
    font-size: 1.8rem;
    margin: 0 2.5rem;
}

header .navbar-brand img {
    width: 10.7rem;
    height: 4.1rem;
}

header {
    position: fixed;
    width: 100%;
    top: 20px;
    z-index: 999;
}

/* ********************************************** */

/* *********************Hero********************* */
#hero {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(#000000 40%, var(--primary-color) 200%);
}

#hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(../img/hero-banner.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    opacity: 0.2;

}

.hero-data {
    padding-top: 20rem;
    text-align: center;
    align-items: center;

}

.hero-data span {
    color: white;
    font-size: 12rem;
    max-width: 1567px
}

.hero-data .hero-data-colour {
    color: var(--primary-color);
}

.hero-data p {
    font-size: 1.8rem;
    color: white;
    max-width: 90rem;
    margin: 0 auto;
    /* text-align: center; */
}

.about-img div img {
    width: 22rem;
    height: 24rem;
}

/* ********************************************** */

/* *********************About********************* */

#about {

    height: 100%;
    width: 100%;
    text-align: center;
    /* align-items: center; */
    padding-top: 200px;
    background-image: linear-gradient(0, #000000 40%, var(--primary-color) 200%);
}

.about-img {
    justify-content: space-between;
    row-gap: 4rem;
    text-align: center;

}

.about-data {
    margin-top: 20.1rem;
}

.about-data-detail {
    text-align: left;
}

.about-data-detail {
    padding-left: 11.5rem;
}

.about-data-detail h1 {
    margin-top: 1.8rem;
    margin-bottom: 10.5rem;
}

.about-data-img img {
    width: 72.9rem;
    height: 50.6rem;
    padding-right: 11.5rem;
    object-fit: cover;
    margin-bottom: 10rem;
}

.about-data-img p {
    max-width: 54.1rem;
}

#about .my-btn {
    padding: 1.5rem;

}

/* ********************************************** */

/* *********************Super******************** */

#super { 
    height: 100%;
    width: 100%;
    padding-top: 200px;
    /* text-align: center; */
    /* align-items: center; */
    background-image: linear-gradient(#000000 40%, var(--primary-color) 200%);
}

.super-data-left h1 {
    margin-bottom: 11.5rem;
}

.super-data-left p {
    max-width: 48.5rem;
}

.super-data-img img {
    width: 22.4rem;
    height: 33.6rem;
    object-fit: cover;
}


/* ********************************************** */

/* *******************Services******************* */

#services {
    padding-top: 200px;
    background-image: linear-gradient(0, #000000 40%, var(--primary-color) 200%);
}

#services div h5 {
    text-align: center;
}

#services div h1 {
    text-align: center;
    font-size: 8.4rem;
    font-weight: bold;
    /* max-width: 143rem; */
}

.ser-img {
    margin: 7.5rem;
    border: 2px solid white;
    padding: 5rem 6rem;
}

.ser-img img {
    object-fit: cover;
    width: 53.1rem;
    width: 100%;
    height: 32.4rem;

}

.ser-img h3 {
    color: white;
    text-align: center;
    font-size: 4.2rem;
    text-transform: uppercase;
    margin-top: 5rem;
}

.ser-img p {
    color: white;
    /* text-align: ; */
    font-size: 1.8rem;
    margin-top: 2rem;
}

/* ********************************************** */

/* **********************Why********************* */

#why {
    padding-top: 200px;
    background-image: linear-gradient(#000000 40%, var(--primary-color) 200%);
    text-align: center;
}

.why-data {
    margin-top: 17.2rem;
    justify-content: center;
    row-gap: 10rem;
}

.why-data h4 {
    font-size: 3.2rem;
    color: white;
    margin: 3rem 0;
}

.why-data p {   
    font-size: 1.8rem;
    color: white;
}

.why-details{
    padding: 0 5.5rem;
}

.why-data .why-details:first-child{
    padding-right: 5.5rem;
    padding-left: 0;
}

.why-data .why-details:last-child{
    padding-left: 5.5rem;
    padding-right: 0;
}

/* ********************************************** */

/* *******************Horoscope******************* */

#horoscope {
    padding-top: 200px;
    background-image: linear-gradient(0, #000000 40%, var(--primary-color) 200%);
    text-align: center;
} 
#horoscope h1{
    max-width: 105rem;
    margin: 0 auto;
}
.horo-data {
    margin: 10rem 0 5rem 0;
    row-gap: 10rem;
}
.horo-data img {
    width: 16rem;
    height: 16rem;
}

.horo-details-1 {
    display: flex;
    margin-right: auto;
}

.horo-details-2 {
    display: flex;
    margin-left: auto;
  
} 

.horo-sub-data {
    margin: 2.4rem 0 2.4rem 4rem;
    /* align-items: center; */
}
.horo-sub-data h4{
    color: white;
    font-size: 5.4rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: left;
}
.horo-sub-data p{
    color: white;
    font-size: 1.8rem;
    text-align: left;
    
}
.horo-count {
    text-align: center;
    margin-top: 20rem;
    row-gap: 10rem;
}
/* ********************************************** */

/* ******************appointment***************** */

#appointment {
        padding-top: 200px;
        background-image: linear-gradient(#000000 40%, var(--primary-color) 200%);
        color: white;
}
.apmt-data {
    font-size: 3.2rem;
    font-weight: bold;
    margin-bottom: 3rem;
}
.plhol-style {
    padding: 3.3rem 3rem;
    font-size: 2.4rem;
    /* background-color: #000000; */
    background-color: black;
    border: 2px solid white;
    color: white;
    width: 44rem;
    height: 10rem;
}
::placeholder {
    color: white;
}
.details-apmt {
    row-gap: 8rem;
}
.detail-list-apmt {
    padding: 3.3rem 3rem;
    font-size: 2.4rem;
    /* background-color: #000000; */
    background-color: black;
    border: 2px solid white;
    color: white;
    width: 44rem;
    height: 10rem;
}
.edit-my-but {
    margin-top: 8rem !important;
}
.apmt-set {
    margin-top: 22.4rem;
}
/* ********************************************** */
#become {
        padding-top: 200px;
        position: relative;
        height: 100vh;
        width: 100%;
        text-align: center;
        background-image: linear-gradient(0,#000000 40%, var(--primary-color) 200%);
}

#become::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(../img/hero-banner.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    opacity: 0.2;

}

#become p {
    color: white;
    font-size: 1.8rem;
    max-width: 95rem;
    margin: 8rem auto;
}


/* ******************membership***************** */

#membership {
    text-align: center;
    padding-top: 200px;
    background-image: linear-gradient(#000000 40%, var(--primary-color) 200%);
    color: white;
}

#membership .sub-title {
    margin-bottom: 8rem;
}

.member-data .col-4{
    border: 2px solid white;
    padding: 7.7rem;
    width: 46.6rem;
}
.member-data {
    justify-content: space-between;
}
.member-main-title {
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 3rem;
}
.member-sub-title {
    font-size: 7.2rem;
    /* text-align: left !important; */
}
.member-sub-type {
    font-size: 2.4rem;
    /* text-align: left !important; */
}
.tick-member {
    margin-top: 3rem;
}
.tick-member span {
    margin-left: 2rem;
    font-size: 1.8rem;
}
.tick-member img{
    margin-bottom: 2rem;
}

.mem-sub-tit {
    background-color: #C8191C;
}
.mem {
    background-color: white;
    color: #C8191C;
    font-weight: bold;
}

/* ********************************************** */

/* 1rem = 8px */
@media screen and (max-width: 575px) {
    html {
        font-size: 50%;
    }

    .hero-data span {
        font-size: 5rem;
        max-width: 1567px;
    }

    .hero-data p {
        font-size: 1.5rem;
    }

    #hero {
        height: 60vh;
    }

    .my-btn {
        margin-top: 5rem;
        padding: 1rem 5rem;
        font-size: 1.8rem;
        width: 21rem;
        height: 5rem;

    }

    #about .my-btn {
        padding: 1rem;
    }

    .about-data-img p {
        margin: 0 auto;
        text-align: center;
        border-right: none;
    }

    .about-data-detail {
        padding-left: 0;
    }

    .about-data-detail h5 {
        text-align: center;
        margin-top: 3rem;
    }

    .about-data-detail h1 {
        text-align: center;
    }

    .about-data-detail {
        text-align: center;
    }

    .super-data {
        text-align: center;
    }

    .super-data-img {
        margin-top: 20rem;
    }

    .super-data-left p {
        text-align: center;
        margin: 0 auto;
    }

    .super-data-img .col-xxl-3 img {
        margin-bottom: 10rem;
    }

    .super-sub-data {
        font-size: 10rem;
        margin-top: 6.4rem;
    }

    .super-data-left h1 {
        font-size: 10rem;
    }

    .ser-img p {
        text-align: center;
        margin: 2rem auto;
    }
    .ser-img h3 {
        font-size: 2.2rem;
    }

    .ser-img p {
        font-size: 1.2rem;
    }
    
    .why-details{
        padding: 0rem;
    }
    
    .why-data .why-details:first-child{
        padding-right: 0;
        padding-left: 0;
    }
    
    .why-data .why-details:last-child{
        padding-left: 0;
        padding-right: 0;
    }
    .horo-details-1 { 
        justify-content: center;
    }
    .horo-details-2 { 
        justify-content: center;
    }
    .horo-data {
        margin: 10rem 0 0 0;
        row-gap: 10rem;
    }
    .horo-data img {
        width: 17rem;
        height: 17rem;
    }
    #horoscope h1 {
        font-size: 7rem;
    }
    #appointment {
        text-align: center;
    }
    .apmt-set {
        margin-bottom: 20rem;
    }
    .apmt-data {
        text-align: left;
        margin-left: 13.5rem;
    }
    .member-data {
        justify-content: center;
        row-gap: 10rem;
    }
}

/* 1rem = 8px sm */
@media screen and (min-width: 575px) {
    html {
        font-size: 50%;
    }

    .hero-data span {
        font-size: 5rem;
        max-width: 1567px;
    }

    .hero-data p {
        font-size: 1.5rem;
    }

    #hero {
        height: 60vh;
    }

    .my-btn {
        margin-top: 5rem;
        padding: 1rem 5rem;
        font-size: 1.8rem;
        width: 21rem;
        height: 5rem;

    }

    #about .my-btn {
        padding: 1rem;
    }

    .about-data-img p {
        margin: 0 auto;
        text-align: center;
        border-right: none;
    }

    .about-data-detail {
        padding-left: 0;
    }

    .about-data-detail h5 {
        text-align: center;
        margin-top: 3rem;
    }

    .about-data-detail h1 {
        text-align: center;
    }

    .about-data-detail {
        text-align: center;
    }

    .super-data {
        text-align: center;
    }

    .super-data-img {
        margin-top: 20rem;
    }

    .super-data-left p {
        text-align: center;
        margin: 0 auto;
    }

    .super-data-img .col-xxl-3 img {
        margin-bottom: 10rem;
    }

    .super-sub-data {
        font-size: 10rem;
        margin-top: 6.4rem;
    }

    .super-data-left h1 {
        font-size: 10rem;
    }

    .ser-img p {
        text-align: center;
        margin: 2rem auto;
    }
    .ser-img h3 {
        font-size: 4.2rem;
    }
    .ser-img p {
        font-size: 1.8rem;
    }
    .why-details{
        padding: 0rem;
    }
    
    .why-data .why-details:first-child{
        padding-right: 0;
        padding-left: 0;
    }
    
    .why-data .why-details:last-child{
        padding-left: 0;
        padding-right: 0;
    }
    .horo-details-1 { 
        justify-content: center;
    }
    .horo-details-2 { 
        justify-content: center;
    }
    .horo-data {
        margin: 10rem 0 0 0;
        row-gap: 10rem;
    }
    .horo-data img {
        width: 17rem;
        height: 17rem;
    }
    #horoscope h1 {
        font-size: 8.4rem;
    }
    #appointment {
        text-align: center;
    }
    .apmt-set {
        margin-bottom: 20rem;
    }
    .apmt-data {
        text-align: left;
        margin-left: 11.5rem;
    }
    .member-data {
        justify-content: center;
        row-gap: 10rem;
    }
}

/* 1rem = 8px md*/
@media screen and (min-width: 768px) {
    .about-img {
        justify-content: center;
    }

    .hero-data span {
        font-size: 7rem;
        max-width: 1567px;
    }

    .hero-data p {
        font-size: 2rem;
    }

    .about-data-img img {
        padding-right: 0%;
    }

    .about-data-img p {
        margin: 0 auto;
        text-align: center;
        border-right: none;
    }

    .about-data-detail {
        padding-left: 0;
    }

    .about-data-detail h5 {
        text-align: center;
        margin-top: 3rem;
    }

    .about-data-detail h1 {
        text-align: center;
    }

    .about-data-detail {
        text-align: center;
    }
    .why-details{
        padding: 0 5.5rem;
    }
    
    .why-data .why-details:first-child{
        padding-right: 5.5rem;
        padding-left: 0;
    }
    
    .why-data .why-details:last-child{
        padding-left: 5.5rem;
        padding-right: 0;
    }
    .apmt-data {
        text-align: left;
        margin-left: 22.5rem;
    }
    .member-data {
        justify-content: center;
        row-gap: 10rem;
    }
    
}

/* 1rem = 8px lg*/
@media screen and (min-width: 992px) {
    .hero-data span {
        font-size: 9rem;
        max-width: 1567px;
        margin-bottom: 5.5rem;
    }

    #hero {
        height: 65vh;
    }

    .ser-img p {
        text-align: center;
        margin: 2rem 0 0 0;
    }

    .ser-img {
        margin: 4rem;
        padding: 4rem 5rem
    }
    .apmt-set {
        margin-bottom: 20rem;
        text-align: center;
    }
    #appointment {
        text-align: left;
    }
    .apmt-data {
        text-align: left;
        margin-left: 0;
    }
    .mem-sub-tit {
        background-color: transparent;
    }
    .mem {
        background-color: var(--primary-color);
        color: white;
    }
    .member-data {
        justify-content: center;
    }
    .member-data  {
        column-gap: 10rem;
        row-gap: 10rem;
    }
    .mem-btn {
        font-size: 1.6rem;
        padding: 1.3rem ;
    }
}

/* 1rem = 9px xl*/
@media screen and (min-width: 1200px) {
    html {
        font-size: 56.25%;
    }

    .hero-data span {
        font-size: 10rem;
        max-width: 1567px;

    }

    .my-btn {
        margin-top: 5.5rem;
        padding: 1.5rem 9rem;
        font-size: 1.9rem;
        width: 27rem;
        height: 6rem;
    }

    #about .my-btn {
        padding: 1.5rem;

    }

    .about-data-img img {
        padding-right: 0;
        border-right: 2px solid white;
    }

    .about-data-detail {
        padding-left: 22rem;
        text-align: left;
    }

    .about-data-detail h5 {
        text-align: left;
        margin-top: 0rem;
    }

    .about-data-detail h1 {
        text-align: left;
    }

    .super-data-left h1 {
        font-size: 12rem;
    }

    .super-sub-data {
        font-size: 11.4rem;
        margin-top: 10.4rem;
    }

    .ser-img p {
        text-align: left;
    }

    .ser-img {
        padding: 5rem 6rem;
    }
     .horo-sub-data h4 {
        font-size: 4rem;
    }
    .horo-sub-data p {
        font-size: 1.2rem;
    }
    .horo-data img {
        width: 15rem;
        height: 15rem;
    }
    .horo-details-1 { 
            margin-right: 0;
    }
    .horo-details-2 { 
        margin-left: 0;
    }
    
    .horo-details-2 { 
        justify-content: left;
    }
    .horo-data {
        margin: 10rem 0 5rem 0;
        row-gap: 10rem;
        justify-content: space-between;
    }
    #horoscope h1{
        max-width: 105rem;
    }
    
    
    .mem-btn {
        font-size: 1.6rem;
        padding: 1.6rem ;
    }
    
   
}

/* 1rem = 9px xxl*/
@media screen and (min-width: 1400px) {
    .about-img {
        justify-content: space-between;
    }

    .hero-data span {
        font-size: 12rem;
        max-width: 1567px;
        margin-bottom: 5.5rem;
    }

    #hero {
        height: 90vh;
    }

    .my-btn {
        margin-top: 5.5rem;
        padding: 1.6rem 9.3rem;
        font-size: 2rem;
        width: 30rem;
        height: 6.3rem;
    }

    .about-data-img img {
        padding-right: 11.5rem;
    }

    .about-data-detail {
        padding-left: 11.5rem;
    }

    .super-data-left h1 {
        font-size: 10rem;
    }

    .super-sub-data {
        font-size: 9.4rem;
    }

    .super-data {
        text-align: left;
    }

    .super-data-left p {
        text-align: left;
        margin: 0;
    }
    .super-data-img {
        margin-top: 0rem;
    }
    .ser-img {
        margin: 7.5rem;
        padding: 5rem 6rem;
    }
    .super-data-img .col-xxl-3 img {
        margin-bottom: 0;
    }
  
    .horo-sub-data h4{ 
        font-size: 5.4rem;
    }
    .horo-sub-data p{
        font-size: 1.8rem;
    }

    .horo-details-1 { 
        margin-right: auto;
    }
    .horo-details-2 { 
        margin-left: auto;
    }
    .horo-data img {
        width: 16rem;
        height: 16rem;
    }   
    .apmt-set {
        margin-bottom: 0;
        text-align: left;
    }
}

/* 1rem = 10px */
@media screen and (min-width: 1700px) {
    html {
        font-size: 62.5%;
    }

    .container {
        max-width: 160rem;
    }

    .hero-data span {
        font-size: 11rem;
        max-width: 1567px;
        margin-bottom: 5.5rem;
    }

    #hero {
        height: 110vh;
    }

    .super-data {
        text-align: left;
    }

    .super-data-img {
        margin-top: 0;
    }

    .super-data-left p {
        text-align: left;
        margin: 0;
    }

    .super-data-left h1 {
        padding-right: 8.8rem;
        font-size: 14rem;
    }

    .super-sub-data {
        font-size: 13.4rem;
        margin-top: 10.4rem;
    }

    .super-data-img .col-xxl-3 img {
        margin-bottom: 0;
    }

    
}




